
@font-face {
    font-family: "ProximaNova";
    src: url("/fonts/ProximaNovaSemibold.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("/fonts/ProximaNovaBold.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

#title_button {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 22pt;
    color: #42474f;
    text-decoration: none;
    border-bottom: 0 dotted #42474f;
}


#facebook:hover{
    background: url("/img/logos/facebook_blue.png");
}

#linkedin:hover{
    background: url("/img/logos/facebook_blue.png");
}

#wechat:hover{
    background: url("/img/logos/facebook_blue.png");
}

#flickr:hover{
    background: url("/img/logos/facebook_blue.png");
}

body {
    font-family: ProximaNova, sans-serif;
}

div {
    //border-style:dashed;
}

.middle_pic {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

#inner {
    margin: 0 auto;
}
#outer {
    padding-top: 22px;
    text-align: center;
}

.post_link {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 14pt;
    color: #42474f;
    text-decoration: none;
    border-bottom: 0 dotted #42474f;
}

.post_link:hover {
    text-decoration: underline;
}

.image_link{
    text-decoration: none;
    border-bottom: 0 dotted #FFFFFF;
}

a {
    color: #68b3ff;
    border-bottom: 1px dotted #68b3ff;
    text-decoration: none;
}

.name_title {

    padding-top:8%;
    text-align: left;
    font-size:20pt;
    color: black;

}

.name_title_index {

    padding-top: calc(8% + 1px);
    text-align: left;
    font-size:20pt;
    color: black;

}

.thoughts {
    color: black;
}

.summary_text {

    text-align: left;
    
}

header {
    background-color: #1d1d1d;
    height: 20px;
}

body {
    font-family: "ProximaNova", sans-serif;
    font-size: 14pt;
    color: #666666;
    margin: 0;
    padding: 0;
}
