
@font-face {
    font-family: vision;
    src: url("https://ethanzh.github.io/fonts/vision/Vision.otf");
}

body {
    font-family: vision;
}

div {
    border-style: dotted;
}

.name_title {

    text-align: left;


}

.summary_text {

    text-align: left;
    
}

.intro_block, .blog_posts {

    width: 65%;
    border-color: cornflowerblue;
    margin: 0 auto;

}

header {
    background-color: darkslategrey;
    height: 20px;
}

body {
    margin: 0;
    padding: 0;
}