
@font-face {
    font-family: "ProximaNova";
    src: url("/fonts/ProximaNovaSemibold.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("/fonts/ProximaNovaBold.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

div {
    border-style:dashed;
}

#title_button {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 22pt;
    color: #2d2d2d;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 2px;

}

#facebook:hover{
    background: url("/img/logos/facebook_blue.png");
}

#linkedin:hover{
    background: url("/img/logos/facebook_blue.png");
}

#wechat:hover{
    background: url("/img/logos/facebook_blue.png");
}

#flickr:hover{
    background: url("/img/logos/facebook_blue.png");
}

body {
    font-family: ProximaNova, sans-serif;
}

.middle_pic {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

#inner {
    margin: 0 auto;
}
#outer {
    padding-top: 22px;
    text-align: center;
}

.post_link {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 16pt;
    color: #242526;
    text-decoration: none;
    border-bottom: 0 dotted #242526;
}

.post_link:hover {
    text-decoration: underline;
}

.image_link{
    text-decoration: none;
    border-bottom: 0 dotted #FFFFFF;
}

a {
    color: #68b3ff;
    border-bottom: 1px dotted #68b3ff;
    text-decoration: none;
}

.body_text {
    font-size: 17px;
    line-height: 180%;
    color: #313335;
    letter-spacing: 0.2px;
}

.above_article {

    padding-bottom: 8px;
}

.post_line {

    width: 100%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.15;
}

#front_page_line {
    width: 100%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.15;
}

.read_time {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin-top: -18px;
}

.name_title {

    padding-top:8%;
    text-align: left;
    font-size:20pt;
    color: black;
    text-decoration: none;
    border-bottom: 0px solid #a5a5a5;

}

.name_title_index {

    padding-top: calc(8% + 1px);
    text-align: left;
    font-size: 20pt;
    color: black;

}

.thoughts {
    border-bottom: 1px solid #a5a5a5;
    width: 100%;
    display: block;
    color: #2d2d2d;
    padding-bottom: 10px;
}

.summary_text {

    text-align: left;
    
}

header {
    background-color: #1d1d1d;
    height: 20px;
}

body {
    font-family: "ProximaNova", sans-serif;
    font-size: 14pt;
    color: #666666;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex_container {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
