<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41978381-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-41978381-3');
    </script>
    <link rel="stylesheet" href="../../css/pills.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../css/main.css">


    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.jpg"/>

    <meta name="description" {SUMMARY} />

</head>


<body>
    <header></header>


    <div class="wrapper">

        <div class="row">
            <div class="two columns"></div>

            <div class="eight columns">

                <h1 class="name_title"><a class="name_title" href="/"><</a></h1>

                <div class="above_article">

                    {TITLE}
                    {TIME}

                </div>

                <div class="body_text">
                    {BODY}
                </div>

            </div>

            <div class="two columns"></div>
        </div>

    </div>


    <footer></footer>

    <!-- <script src="/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init();</script> -->

</body>
</html>