@import url('shared.css');


.center {
    text-align: center;
    margin: 0 auto
}

hr.divider {
    margin: 0em;
    border-width: 1px;
}

h1,
h2 {
    margin-bottom: 1rem;
    line-height: 1.25;
    color: #313131
}

h1 {
    font-size: 2.5rem
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem
}

hr {
    border: 0;
    margin: 0em;
    border-bottom: 1px solid #999;
}

p {
    font-size: 18px;
    line-height: 1.65em;
    word-wrap: break-word
}

a {
    color: #0074D9;
    text-decoration: none;
    border-bottom: 1px solid #0074D9;
}

.name a {
    color: #000;
    text-decoration: none;
    border-bottom: 0px;
}

a:hover {
    color: #001f3f;
    border-color: #001f3f;
}

img {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

ul {
    list-style: none;
}

.intro {
    width: 40%;
    margin: 0 auto;
}

.posts {
    width: 40%;
    margin: 0 auto;
}

.nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav ul li {
    padding: 0 10px;
}

.profiles ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.profiles ul li {
    padding: 0 10px;
}

.profiles img {
    height: 32px;
    width: 32px;
}

.profiles {
    margin-top: 6px;
}

.name {
    text-align: center;
    margin: 0 auto;
}